# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\火灾\时间序列预测\DLinear-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
